<!--article.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<form class="form" action="/article/update" method="POST">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Title" value={{.payload.Title}}>
        <input type="hidden" class="form-control" id="id" name="id" value={{.payload.Id}}>
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea name="content" class="form-control" rows="10" id="content" placeholder="Article Content">{{.payload.Body}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">update</button>
	<a href="/article/delete/{{.payload.Id}}" class="btn btn-primary">delete</a>
</form>
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
